.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
          "nav nav nav nav"
          "sidebar main main main"
          "sidebar content1 content2 content3"
          "sidebar footer footer footer";
}
nav{
    background-color: blue;
    grid-area: nav;
}
main{
    background-color: green;
    grid-area: main;

}
#sidebar{
    background-color: gray;
    grid-area: sidebar;
    border-image: round;
}
#content1{
    background-color: gray;
    grid-area: content1;
}
#content2{
    background-color: gray;
    grid-area: content2;
}
#content3{
    background-color: gray;
    grid-area: content3;
}
footer{
    background-color: aliceblue;
    grid-area: footer;
}